@import "../../../variables";

.rewardDetailSection {
  .details {
    position: relative;
    // width: 60%;
    width: 45%;
    height: 40px;
    background-color: #fff;
    margin: -2.5vh auto auto auto;
    border-radius: 30px;
    z-index: 2;
    box-shadow: $elemShadow;
  }
  .lineDetail {
    color: $kaBrown;
    line-height: 40px;
  }
  .frameBarCode {
    padding: 5%;
    .displayBarcode {
      width: 100%;
      // padding: 4% 12% 3%;
      overflow-x: scroll;

      .codeText {
        font-size: 3.5em;
      }

      .displayBarCodeWrap {
        white-space: nowrap;
        .inlineBarcode {
          width: 100%;
          padding: 0 10px;
          display: inline-block;
        }
      }
      .barCodeFrame {
        width: 100%;
      }

      .displayText {
        display: inline-block;
      }
      .controlPanel {
        .displayText {
          margin: 0 14px;
          display: inline-block;
          vertical-align: middle;
          // font-size: 24px;
        }
      }
    }
  }

  .moreDetails {
    width: 100%;
    padding: 0 5%;
    .textWrap {
      width: 60%;
      margin: 0 auto;
      .text {
        vertical-align: middle;
      }
      .arrowWrap {
        // width: 5%;
        .arrowSymbol {
          width: 7%;
          vertical-align: middle;
          fill: $kaBrown;
        }
      }
    }
  }
  .address {
    text-align: left;
    padding: 5% 10%;
    .formatTxt1 {
      text-indent: 10px;
    }
    .formatTxt2 {
      text-indent: 10px;
      padding-top: 10px;
    }
    .imgExm1 {
      display: inline-block;
      vertical-align: top;
      background-color: $kaYellow;
      -webkit-mask-image: url(../../../assets/images/svg/phone-alt-regular.svg);
      mask-image: url(../../../assets/images/svg/phone-alt-regular.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
    }
    .imgExm2 {
      display: inline-block;
      vertical-align: top;
      background-color: $kaYellow;
      -webkit-mask-image: url(../../../assets/images/svg/home-regular.svg);
      mask-image: url(../../../assets/images/svg/home-regular.svg);
      // background-image: url(../../../assets/images/SVG/home-regular.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
    }
    .txtExm1 {
      display: inline-block;
      vertical-align: top;
    }
    .txtExm2 {
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 31px);
    }
  }

  .btnCustom {
    border-radius: 30px;
    margin: 0;
    padding: 0.5rem 3rem;
    background-color: $kaYellow !important;
    color: $kaBrown !important;
  }
}
