@import "../../variables";

.headBarWrap {
  background-color: #ffd200;
  .topBar {
    /* height: 50px; */
    height: 9vh;
    width: 100%;
    position: relative;
    // background-color: $kaBrown;
    background-color: #000;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
  }
  .topTitle {
    line-height: 9vh;
    color: #ffda00;
  }
  .top-detail-rewardlist {
    text-align: center;
    padding: 2%;
  }
  .username-rewarndlist {
    font-size: 14px;
    user-select: none;
  }
  .privilege-rewardlist {
    font-size: 14px;
    color: #705f5f;
    user-select: none;
    -webkit-user-select: none;
  }
}
